# OsloMet - krig

* Lars G. Johnsen
* lars.johnsen@nb.no
* Nasjonalbiblioteket

Importer ressurser

In [1]:
import dhlab.module_update as mu
import dhlab.nbtext as nb
import dhlab.nbpictures as pc
import mods_meta as mm
import pandas as pd

In [2]:
mu.css()

In [18]:
ddk_krig = nb.book_urn(ddk='355%', period = (1990, 2010), limit=50)
ddk_krig

[[2013031906022,
  'Innset, Bjørn',
  'Integrasjon med grenser eller grenseløs integrasjon?',
  2010],
 [2010051006034, 'Øvrebø, Egil', 'I kongens teneste', 1996],
 [2009070301006, '', 'Forsvarets skyte- og øvingsfelt', 2004],
 [2008103000052, 'Korsdal, Kari', 'Fredriksvern verft 1750 - 2000', 2000],
 [2010032303002, '', 'Forsvarets POL-katalog', 1994],
 [2014061206191,
  'Steder, Frank Brundtland',
  'Forsvarets kostnads- og personellsammensetning (1994-2007)',
  2008],
 [2008010300012, '', 'Headquarters Allied Forces Northern Europe', 1994],
 [2008090504110, '', 'NATO ser framover', 1999],
 [2013012108093, 'Larsen, Rolf-Petter', 'Norske soldater i Kosovo', 2006],
 [2007080800004, 'Pedersen, Lorentz Ulrik', 'Norge i Korea', 1991],
 [2007090304040, 'Strøm, Knut Erik', 'Norske borgervæpningsuniformer', 1991],
 [2015070108142,
  'Agøy, Nils Ivar',
  'Militæretaten og "den indre fiende" fra 1905 til 1940',
  1994],
 [2007112900026, 'Johannessen, Torbjørn', 'Vakt og vern', 1991],
 [2016072248057, 'Rekkedal, Nils Marius', 'Moderne krigskunst', 2003],
 [2010121012004,
  'Hovde, Kjell',
  'Historiske bildeminner fra Tysklandsbrigadene',
  1999],
 [2007111300039, '', 'Forsvarets bevarings- og museumsvirksomhet', 1992],
 [2008061900053, '', 'NORLOGBN III - IFOR I', 1996],
 [2008080800038, 'Skår, Astrid', '70 år for hjem og fedreland', 1998],
 [2011082605040,
  'Damman, Leif',
  'Ny-Hellesund kystfort og andre tyske anlegg fra 2. verdenskrig i Søgne',
  2004],
 [2012121106051, 'Mærli, Morten Bremer', 'Atomvåpen', 2009],
 [2011040406156,
  'Grieg-Smith, Sven-Erik',
  'Også vi når det blir krevet',
  2001],
 [2016082908168, 'Eide, Vigleik', 'NATO and security in the 1990s', 1990],
 [2008080604002,
  'Pedersen, Odd',
  'Forsvarets rasjonaliseringstjeneste gjennom 40 år',
  1998],
 [2010030100010,
  'Steinland, Benedicte Bøe',
  'Flere kvinner ute og hjemme?',
  2004],
 [2013011407017,
  'Hobson, Rolf',
  'Total krig, nøytralitet og politisk splittelse 1905-1940',
  2001],
 [2013062138036,
  '',
  'Minnebok for den norske FN-styrken i UNIFIL kontingent XXXVI, november -95 til mai -96',
  1996],
 [2008080704029,
  'Breidlid, Olav',
  'De norske styrker i Tyskland 1947-1953',
  1997],
 [2014010905051, 'Botten, Jan Terje', 'Krigsskolen', 2000],
 [2010030100005,
  'Riste, Olav',
  'War and peace in the political culture of Scandinavia in the 20th century',
  2003],
 [2010042203020, 'Nåvik, Ørnulf', 'Vernepliktens historie 950-1996', 1996],
 [2009011900129, 'Naastad, Nils E.', 'planlagt krig?', 2002],
 [2010011904082, 'Black, Jeremy', 'RMA examined', 2006],
 [2012062506103, '', 'NATOs nye strategikonsept', 2000],
 [2015052648118, 'Nord, Elisabeth', 'Min bror', 2008],
 [2014111807594, 'Egner, Arne F.', 'BBC: "Kanonen spiller Chopin"', 2009],
 [2013092006039,
  'Kristiansen, Svein Tore',
  'Militære erfaringer i bruk',
  2009],
 [2015082608074,
  'Mikkelsen, Odd A.',
  'Intendanturmagasiner og verksteder på Østlandet 1945-2000',
  2000],
 [2015070908184, 'Kraglund, Ivar', 'Sikringstjenesten 1940-1945', 1990],
 [2008061004013, 'Riste, Olav', 'Weserübung', 1990],
 [2014011606030, 'Nore, Aslak', 'Gud er norsk', 2008],
 [2009042200078, 'Ulriksen, Ståle', 'norske forsvarstradisjonen', 2002],
 [2007091104011, '', 'Hæren etter Annen verdenskrig', 1990],
 [2011083008046, '', 'Fra Forsvarets forskningsinstitutts historie', 2005],
 [2014092308114, 'Vaagland, Per Olav', 'Opprørsbekjempelse', 2009],
 [2014021106193,
  'Bakke, Tomas',
  'Krav til fremtidens forsvar sett fra unge offiserers ståsted',
  2008],
 [2013081508083,
  'Solstrand, Ragnvald H.',
  'Langsiktig planlegging i Forsvaret',
  2010],
 [2010063008060,
  '',
  'Minnebok for den norske FN-styrken i UNIFIL, kontingent XXXII, november -93 til mai -94',
  1994],
 [2016070608112, '', 'Builders of Peace', 2002],
 [2015091148033, 'Flåøien, Jostein', 'Fossumstrøkets festning', 2009],
 [2012120506057, 'Andersen, Trygve', 'Øst-Finnmark heimeverndistrik 18', 2010]]

In [10]:
tot = nb.frame_sort(nb.frame(nb.totals ( 50000), 'tot'))

In [16]:
tot.head(20)

          tot
.    0.058921
,    0.051453
og   0.025297
i    0.021425
det  0.012728
som  0.012343
til  0.011847
er   0.011580
av   0.010948
en   0.010783
på   0.009589
for  0.009424
at   0.009288
-    0.009111
å    0.008575
med  0.008492
)    0.008019
var  0.007141
?    0.007069
den  0.007039

In [19]:
ddk_krig = nb.frame(nb.aggregate_urns(ddk_krig), 'ddk_krig')

In [15]:
nb.frame_sort(ddk_krig).head(20)

     ddk_krig
.    0.043419
,    0.038372
og   0.026763
i    0.025339
av   0.014513
som  0.013707
til  0.013543
det  0.012173
for  0.012055
en   0.011436
å    0.011244
var  0.010951
på   0.010681
at   0.010500
med  0.009172
de   0.007587
er   0.007305
-    0.006742
ble  0.006623
den  0.006620

In [13]:
nb.normalize_corpus_dataframe(tot)

True

In [20]:
nb.normalize_corpus_dataframe(ddk_krig)

True

In [21]:
nb.frame_sort(nb.frame(ddk_krig['ddk_krig']/tot['tot'])).head(50)

                                0
kp                     253.177936
Joen                   180.018585
Hærens                 172.073353
HV                     151.348488
Bn                     125.919504
befal                  119.463901
Hæren                  117.080414
krigføring             105.835872
FD                     105.693871
Hjem                   100.449772
Forsvarets              95.155832
KG                      89.748863
0000                    79.761089
Soldat                  79.063176
overkommando            77.938929
Forsvaret               77.906540
Olle                    76.242227
Military                75.841522
brigade                 75.475395
vernepliktige           74.623515
personellet             73.592082
mannskaper              71.822042
Kp                      70.203604
GS                      66.017104
NATO                    65.186055
bataljonen              63.836856
Forsvarsdepartementet   62.809961
FS                      61.851817
Kosovo                  58.933956
Air                     57.685934
regimentet              57.202516
Command                 54.782774
mannskapene             54.681804
generalmajor            52.657105
TK                      51.232783
1719                    50.337150
NOT                     50.070028
Generalmajor            48.602479
Sjef                    48.532814
Løytnant                47.821850
Code                    47.299554
verneplikt              46.557264
FFI                     46.080352
Død                     44.761537
enemy                   43.801319
Ingebret                43.302575
NATOs                   42.304843
Stavern                 41.369121
1717                    41.077853
Bosnia                  40.707116

In [28]:
subject_krig = nb.book_urn(subject = 'krig', period = (1990, 2010), limit = 50 )
subject_krig

[[2012090308047,
  'Haaland, Torunn Laugen',
  'Militærmakt og sikkerhetspolitikk',
  2002],
 [2013110405128, 'Mutaev, Musa', 'Kuntas skygge', 2008],
 [2015091148109, 'Grant, R.G.', 'Sjøkrig', 2010],
 [2008091000089, 'Hjeltnes, Guri', 'Krigsseiler', 1997],
 [2013022238100, 'Nordberg, Nils Håkon', 'Nordmenn i krig', 2005],
 [2010062808058, 'Calmeyer, Bengt', 'Svensk-ongan', 1999],
 [2015010808025, 'Christensen, Chr. A.R.', 'Dåd', 2009],
 [2011082608091, 'Haagenrud, Grete', 'Sofie og Kathrine', 2007],
 [2011102805093, 'Marsden, John', 'Nattjakt', 2010],
 [2009060904097, '', 'Bosniske krigsflyktninger i mediebildet', 1999],
 [2011100505050, 'Steele, Jon', 'Krigsjunkie', 2004],
 [2014013106032, 'Thune, Henrik', 'Krigsdansen', 2003],
 [2011031005018, 'Kove, Torill', 'Min bestemor strøk kongens skjorter', 2000],
 [2014042208060, 'Reuter, Bjarne', 'Guttene fra Sankt Petri', 1992],
 [2007111201008, 'Haagenrud, Grete', 'Sofie og Kathrine', 1992],
 [2010071503007, 'Sletteide, Ingrid', 'flyktningebarn forteller', 1995],
 [2012071106072,
  'Hobson, Rolf',
  'Krig og strategisk tenkning i Europa 1500-1945',
  2005],
 [2013010806062, 'Olafsen, Erik Bakken', 'Turisten', 2007],
 [2013012806005, 'Politkovskaja, Anna', 'reise i helvete', 2007],
 [2008020404061,
  'Hobson, Rolf',
  'Fra kabinettskrigen til den totale krigen',
  1994],
 [2014041406072, 'Tjelmeland, Hallvard', 'kalde krigen', 2006],
 [2014062607157, '', 'Ingen utenfor', 2005],
 [2009052900051, 'Leo, Veronica', 'Ekornøyne', 1990],
 [2011020108023, '', 'Flyktningebarn og familier', 1997],
 [2008013104038, '', 'Pain and survival', 1994],
 [2008070700057, 'Fretheim, Tor', 'Havmannen, kjøpmannen og Dr. Freud', 1996],
 [2011083106108, 'Rosoff, Meg', 'Slik har jeg det nå', 2005],
 [2009122100069, '', 'Krigføring i middelalderen', 2003],
 [2014051908065,
  'Christensen, Chr. A.R.',
  'Norge under okkupasjonen 1940-1945',
  2008],
 [2013102505095, 'Jensen, Carsten', 'Krigskrønike', 2005],
 [2008060904067, 'Mohn, Albert Henrik', 'Krigsreporteren', 1990],
 [2011083105002, 'Holm, Terje H.', 'Ærens mark', 2004],
 [2010050408113, 'Varmer, Hjørdis', 'ondeste dagen', 1996],
 [2009022604069, 'Chambers, Aidan', 'Postkort fra ingenmannsland', 2000],
 [2008030300145,
  'Ottosen, Kristian',
  'Historien om nordmenn i tysk fangenskap 1940-45',
  1995],
 [2007121000026, '', 'Sju dramatiske år', 1993],
 [2011092106111, 'Gleitzman, Morris', 'gang', 2010],
 [2011071208015, 'Egeland, Jan', 'Det nytter', 2007],
 [2011101406082, 'Gilbert, Mads', 'Øyne i Gaza', 2009],
 [2011011903024, 'Leliënhof, Marcel', 'Fred', 2006],
 [2012120308176, 'Rønningen, John', 'Milorg i Hajernområdet', 1995],
 [2015072408083, 'Steele, Jon', 'Krigsjunkie', 2008],
 [2010062106030, '', 'Ensamma flyktingbarn i Norden', 1996],
 [2008070400051,
  'Major, Ellinor F.',
  'War stress in a transgenerational perspective',
  1996],
 [2014063008232, 'Drogin, Bob', 'Kodenavn Curveball', 2008],
 [2013082806027,
  'Vettenranta, Soilikki',
  'De unge og katastrofenyheter',
  2005],
 [2012070306173, 'Dang Thuy Tram', 'Jeg drømte om fred', 2007],
 [2007042402001, 'Finne, Øyvind', 'Krigen som aldri slutter', 2005],
 [2010072308039,
  'Krøvel, Roy',
  'Ryggsekkjournalister og digitale informasjonskrigere',
  1999],
 [2009051300053,
  'Mærli, Morten Bremer',
  'real weapon of mass destruction',
  2003]]

In [29]:
subject_krig = nb.frame(nb.aggregate_urns(subject_krig), 'subject_krig')

In [30]:
nb.normalize_corpus_dataframe(subject_krig)

True

In [31]:
nb.frame_sort(nb.frame(subject_krig['subject_krig']/tot['tot'])).head(50)

                          0
Gaza             171.241982
Saddam           151.082387
JON              122.349561
sjøfolkene        76.748303
Irak              73.515765
CIA               71.520855
Kathrine          60.293212
Auschwitz         60.255014
Bagdad            60.065741
Hussein           59.264643
Navy              57.476483
Images            43.989354
israelske         42.506016
krigføring        41.182982
Bridget           40.369942
invasjonen        40.344603
sjøfolk           40.278224
kameraet          37.450266
handelsskip       37.271287
palestinske       36.269936
Bush              36.000399
konvoi            35.762443
sæ                35.112893
Gavin             34.769739
rullebanen        33.693649
Sikkerhetsrådet   33.666067
konvoien          33.462688
admiral           32.663829
granater          32.006686
Kay               31.987479
ffa               31.696626
Rwanda            31.114512
Vom               30.283049
nån               30.111788
Powell            29.694152
Moltke            29.680524
regimer           29.388514
ungdomar          29.365496
Manus             28.761868
Military          28.078890
Ton               27.974512
Himmler           27.811783
Dirk              27.458869
krigene           26.877640
bombet            26.858788
Jepp              26.745081
krigsskip         26.664342
War               26.254374
fiendens          26.072857
Okay              25.887802

In [33]:
innhold_krig = nb.book_urn(words = ['krig', 'Krig'], period = (1990, 2010), limit = 50)
innhold_krig

[[2015042348096, 'Torriset, Kjell', 'Kjell Torriset', 1992],
 [2007081004089, '', 'Folketellinga 1900', 1990],
 [2010061408006, 'Skjervheim, Hans', 'Teknikk, politikk og utopi', 1996],
 [2010101208059, 'Issak, Issak Esmail', 'Swahili-norsk ordbok', 1999],
 [2011092706032,
  'Rabben, Elin Grubba',
  'Etterkommere av Melchior Pedersen Koch (1722-1785) og Johanne Maria Kolderup Testmann (1721-1784)',
  2002],
 [2016060108101, 'Engström, Mikael', 'Dogge', 2010],
 [2013072308037, 'Gustavsen, Finn', 'Transporten i hundre', 1996],
 [2008101304121, 'Steinsholt, Kjetil', 'Lett som en lek?', 1999],
 [2008112400039, 'Hauge, Magne', 'Lys i Heirsnosi', 2001],
 [2014072406069, '', '&lt;Uten tittel&gt;', 1992],
 [2010061808028, 'Falkberget, Johan', 'Verker', 1996],
 [2008020604093, 'Langdalen, Erik', 'Arealplanlegging', 1994],
 [2011070808008, 'Gilje, Nils', 'Heksen og humanisten', 2003],
 [2013110405038, 'Larsson, Åsa', 'Spilt blod', 2006],
 [2016012548078, '', 'Artikkelsamling', 1994],
 [2010042306026, 'Sørsdal, Karin Myrum', 'Pamfilius', 1997],
 [2016040508210, 'Kjus, Audun', 'Sitt fedrelands Herodot', 2003],
 [2009011200072, 'Vikernes, Varg', 'Irminsûl', 2002],
 [2011070108106, 'Brown, Dan', 'Da Vinci-koden', 2005],
 [2008033100083,
  '',
  'Strategisk plan for miljø- og utviklingsforskning',
  1996],
 [2010071303010, 'Vardøen, Jan', 'Bar boka', 1999],
 [2016021107542,
  'Jørgensen, Kenneth Bo',
  'Turen går til Tenerife, La Gomera, La Palma og El Hierro',
  2003],
 [2012120738011, '', 'Studia', 1998],
 [2014092438007, 'Krokvik, Jostein', 'Henrik Krohn', 2002],
 [2015022708023, 'Joseph, Mark', 'Mexico 21', 1992],
 [2010041503039, 'Ellroy, James', 'amerikansk myte', 1997],
 [2016070708272,
  'Mauritzen, Thomas',
  '"-å verne befolkningens liv og helse-"',
  2001],
 [2008092504011, 'Karlsen, Asbjørn', 'Fra håndverk til masseproduksjon', 1994],
 [2013112806037,
  'Langfeldt, Jan G.',
  'De gamle fortøyningsfestene i Ny-Hellesund og fortøyningsmetodenes historie',
  2008],
 [2014041108141, '', 'Gamledoktoren', 2009],
 [2014070905073, 'Elgstøen, Bjørn M.', 'På dans i Hakadal og Nittedal', 2008],
 [2012052324001, '', 'Aschehoug og Gyldendals gutteleksikon', 2005],
 [2013012306069,
  'Kulbrandstad, Lars Anders',
  'Nynorskordliste for den vidaregåande skolen',
  2008],
 [2007100100065, 'Thoene, Bodie', 'Flukten til Danzig', 1992],
 [2012111908112, '', 'Med utsikt fra Breiviken', 1992],
 [2008111300054, 'Boberg, Thomas', 'Americas', 2001],
 [2011040708050, 'Tømmeraas, Per J.', 'Lexviken', 2001],
 [2008103104040, 'Sejersted, Francis', 'Demokrati og rettsstat', 2001],
 [2009102904061, 'Løvås, Anne', 'Arbeidsbok før 1850', 1995],
 [2013010708100, 'Williams, Cathy', 'playboy fra London', 1999],
 [2013091306005,
  'Lewycka, Marina',
  'To campingvogner og en jordbæråker',
  2009],
 [2008102204081, 'Sandemose, Aksel', 'Varulven', 2000],
 [2011080908074, 'Aarnes, Sigurd Aa.', 'Litteratur fra Norge', 1997],
 [2012070608013, 'Wegner, Rolf B.', 'Oldefar Heinrich Wegner forteller', 2010],
 [2012060806087, 'Forsyth, Frederick', 'Sjakalen', 2009],
 [2012081508214, '', 'I tillit', 2001],
 [2007110504064, 'Gaarder, Jostein', 'Sofies verden', 1991],
 [2015090206007, 'Paretsky, Sara', 'Intet glemt', 2002],
 [2011030903052, 'Catling, Christopher', 'Firenze og Toscana', 1996],
 [2007112100104, 'Elstad, Åsa', 'Made in Vesterålen', 1993]]

In [34]:
innhold_krig = nb.frame(nb.aggregate_urns(innhold_krig), 'krig')
nb.normalize_corpus_dataframe(innhold_krig)
nb.frame_sort(nb.frame(innhold_krig['krig']/tot['tot'])).head(50)

                        0
Langdon        206.575717
wa             178.358011
Krohn          118.693392
fl.            100.420057
Koch            81.595602
Sula            79.481161
ya              79.135915
ane             77.686481
Alberto         65.349321
Boyd            61.176117
Pete            60.867249
Museo           54.653817
folketellinga   48.695698
Firenze         43.794428
Toscana         40.300736
Leksvik         37.777225
Palazzo         37.543443
Piazza          37.320828
Santo           35.712484
Janson          35.151043
Irina           34.961530
Fjørtoft        33.557269
Silas           32.243935
Leken           31.438153
055             31.307586
Sophie          30.713732
VERDEN          30.643278
gbr             29.529353
za              28.165003
utt             27.996184
Absalon         27.497597
BJ              25.639254
news            24.793097
Siena           24.784531
Lek             24.624535
trolldom        24.473968
Rygg            24.220460
della           23.133641
Austevoll       20.892044
Hughes          20.756271
leken           20.406339
Bobby           19.883418
Miami           19.326104
beredskap       18.998475
Cruz            18.852954
Munchs          18.725170
newspapers      18.642478
Sofie           18.240902
Byrået          18.032403
Vinci           17.948955

In [36]:
title_krig = nb.book_urn(title = '%krig%', period = (1990, 2010), limit = 50 )
title_krig = nb.frame(nb.aggregate_urns(title_krig), 'krig')
nb.normalize_corpus_dataframe(title_krig)
nb.frame_sort(nb.frame(title_krig['krig']/tot['tot'])).head(50)

                            0
danska             113.399167
kriget             111.501934
Cora                96.699926
styrka              76.453686
baronen             75.118462
svenska             73.680792
tyskarane           64.563711
Astri               61.819916
Lan                 58.543083
Saddam              53.022046
soldatar            51.365944
Løven               49.916250
båtane              48.014281
Abe                 46.217148
Folkeforbundet      46.086195
utenrikspolitiske   44.367106
stormaktene         42.855837
tillbaka            40.553698
Bodvar              40.397781
Bendik              40.123157
konvoien            38.093433
bilaterale          37.240561
Carter              36.933739
Jessie              36.471225
Gleditsch           35.701139
Sigismund           34.465551
Volga               33.752038
Lee                 33.643087
Koht                31.561556
Russell             30.352614
maj                 29.975458
slutet              29.827945
Mowinckel           29.524550
KARL                28.470666
Dagsrevyen          28.003814
journalisten        27.906031
segla               27.745415
konvoi              27.562023
sendingen           27.509541
NRKs                27.213073
Bjørke              27.198935
mellomkrigstiden    26.856386
Kuwait              25.720343
Santo               25.580010
Baronen             24.842469
fangar              24.512224
Midttun             24.381859
Varg                24.376452
kungen              23.868953
Irak                23.843705

Mer detaljert metadata