## Oppstart

### Preamble

Contains imports and some utility code.

In [1]:
from dhlab.module_update import update, css, code_toggle

In [2]:
css()

In [5]:
import dhlab.graph_networkx_louvain as gnl
import dhlab.nbtext as nb
import networkx as nx
%matplotlib inline

In [6]:
import warnings
warnings.filterwarnings('ignore')

# Kollokasjoner eller assosiasjoner

Hvilke ord opptrer et ord sammen med innenfor et korpus?

### Define a corpus

Bruk gjerne Dewey eller temaord for å definere korpuset, hold det forholdsvis lite rundt 200 bøker.

In [7]:
korpus = nb.book_urn(ddk='641.2%', period=(1960, 2020), limit=200)


Kommandoen nb.frame() kan benyttes på en hel del output. Gir en fin oversikt over data, og kan brukes .head() for å se de første eksemplene.

In [8]:
nb.frame(korpus).head(10)

               0                        1                      2     3
0  2016072948039  Johansen, Vidar Kenneth             Spansk vin  2005
1  2010041403019               Clarke, Oz  Gyldendals vinhåndbok  1997
2  2011083006031                                       Vinreiser  2010
3  2008102100096            Johnson, Hugh                Toscana  2000
4  2011063008113                                   Aquavitguiden  2003
5  2015052648126             Vardøen, Jan          Tøffe drinker  2006
6  2010062808033        Olaf-Hansen, Erik              Drikk vin  1995
7  2014102848020          Marthinsen, Tom    Vinens vinnere 2007  2006
8  2016021507627             Ronold, Arne    Verdt å vite om vin  2001
9  2008081500018             McCarthy, Ed        Vin for dummies  1998

## Lager kollokasjoner fra korpuset

Et skrittvis eksempel. 
1. Bygg kollokasjonen
2. Finn en referanse
3. Sammenlign kollokasjon med referanse

### Bygg kollokasjon

Kommandoen er `urn_coll()`. Legg gjerne inn en sjekk med konkordans.

In [9]:
collword = 'hvitvin'

In [ ]:
# konkordans-sjekk

nb.urn_concordance(word = 'østers', urns = korpus, size = 5)

Så kan vi hente ut selve kollokasjonen,dvs. ord som står innenfor en viss avstand fra målordet.

In [ ]:
coll = nb.urn_coll(collword, urns = korpus, after = 5, before = 5, limit = 1000)

Kollokasjonen er en såkalt **dataframe** som kan undersøkes med `.head()` som ovenfor.

In [ ]:
coll.head(10)


## Finn referanse

Det er flere måter å sammenligne på. En er å bruke bokhylla selv om som referanse. For å hente ut ord fra bokhylla brukes kommandoen `totals(<antall ord>)`. Korpuset selv kan også benyttes, for eksempel med kommandoen `aggregate_urns(<korpusdefinisjon>)`.

#### Bokhylla aggregert

In [10]:
tot = nb.frame(nb.totals(top = 50000))

In [11]:
tot.head()

              0
.    1265723110
,    1105303412
og    543432056
i     460246057
det   273411583

#### Aggregert korpus

In [12]:
korpus_agg = nb.aggregate_urns(korpus)

Gjør den om til dataramme, sorterer og ser på resultatet 
1. Dataramme med kommando `frame()`
2. Sortering med `frame_sort()` definert øverst i den her notebooken.

In [14]:
korpus_agg = nb.frame_sort(nb.frame(korpus_agg))

In [15]:
korpus_agg.head(10)

          0
,    726324
.    607377
og   370316
i    284037
er   222791
av   189591
som  184028
en   155422
med  126502
til  124112

#### Sammenlign

Vi har nå tre frekvenslister som kan sammenlignes med hverandre. For å lette sammenlign normaliseres dem. Kommandoen for normalisering er `normalize_corpus_dataframe(<frekvensliste>)`

In [ ]:
nb.normalize_corpus_dataframe(korpus_agg)
nb.normalize_corpus_dataframe(tot)
nb.normalize_corpus_dataframe(coll)

Inspiser dataene etter normalisering

### Aggregert korpus

Fyll inn verdier for `.head()` for å se mer.

In [ ]:
korpus_agg.head()

### Bokhylla total

In [ ]:
tot.head()

### Kollokasjonen

In [ ]:
coll.head()

Kollokasjonen *coll* har gjennomgående høyere verdier, noe som sannsynligvis skyldes at det er færre ord.

#### Utfør sammenligning

For sammenligning måles forskjellen på *coll* med referansen. Forskjellen måles ved å dividere hvert ords frekvens ikollokasjonen på frekvensen ordet har i referansen.

$$\textrm{assosiasjons-styrke}(w) = \frac{\textrm{coll}(w)}{\textrm{referanse}(w)}$$

Divisjonen pr.ord gjøres av Python - resultat sorteres og legges i variabelen `coll_assoc`

In [ ]:
coll_assoc = frame_sort(coll**1.0/tot)

In [ ]:
coll_assoc.head(20)

### Sammenlign med korpus

Her kan det være nyttig å bruke en eksponent for å dempe effekten av lavfrekvente ord.

In [ ]:
coll_assoc_korp = frame_sort(coll**1.2/korpus_agg)

In [ ]:
coll_assoc_korp.head(20)

# Visualiser med en ordsky


Visualiseringen trives best med tall mellom 0 og 1, så assosiasjonene divideres på summen av dem for å få til det. Ordskyene lages med kommonandoen `cloud(<data>)`. Pass på å ikke ta med alt for mange; det kan gi feilsituasjoner.

In [ ]:
nb.cloud(coll_assoc.head(50)/coll_assoc.sum())

In [ ]:
nb.cloud(coll_assoc_korp.head(50)/coll_assoc_korp.sum())

## Hva med å dividere korpuset på totalen?

In [ ]:
korpus_ord =  frame_sort(korpus_agg**1.2/tot)

In [ ]:
korpus_ord.head(20)

In [ ]:
nb.cloud(korpus_ord.head(50)/korpus_ord.sum())