# OsloMet - Metadata og Innhold

* Lars G. Johnsen
* lars.johnsen@nb.no
* Nasjonalbiblioteket

Importer ressurser

In [1]:
import dhlab.module_update as mu
import dhlab.nbtext as nb
import dhlab.nbpictures as pc

In [2]:
mu.css()

# Nasjonalbiblioteket og digitalisering

* Digitaliseringsarbeidet startet for alvor i 2006
* Metadata for bøker fra Nasjonalbibliografien, og nye metadataformat for nye medier, som film og lyd.
* Bokhylla-avtalen fra 2012. Alle bøker publisert før 2000 er tilgjengelig på [nb.no](https://www.nb.no)
* Fra 2017 er bøkene også gjort tilgjengelig for forskning gjennom ikke-konsumerbar bruk

# Kunnskapsorganisering

### Hva er kunnskap?

* [Wikipedia](https://en.wikipedia.org/wiki/Knowledge)
* [Stanford encyclopedia om epistemologi](https://plato.stanford.edu/entries/epistemology/)
* [Stanfor encyclopdia kunnskap](https://plato.stanford.edu/entries/knowledge-analysis/)

# Metadata for objekter

Metadata er informasjon om objekter, og
i seg selv et resultat av resonnementer. 

Metadata legges inn ved bibliotekene i forskjellige formater, for eksempel Marc21, og kan hentes ut fra digitale lager. For eksempel med [APIer](https://api.nb.no) fra Nasjonalbiblioteket. APIene er adgang til metadata for programmer og algoritmer, og brukes til å bygge brukergrensesnitt, som for eksempel [ORIA](https://oria.no)

En viktig del av infrastrukturen for data og metadata er et referansesystem, som et sett persistente identifikatorer. Ved Nasjonalbiblioteket er det URNer (Universal Resource Name).

Eksempel: 
https://urn.nb.no/URN:NBN:no-nb_digibok_2010070608116

API

HTML (Javascript, CSS)

HTTP

### DH-labens API mot metadata

In [3]:
nb.book_corpus(author = "hamsun%knut%", period=(1870, 1910), limit=100)

              urn        author                                  title  year
0   2013040824080  Hamsun, Knut                                 Benoni  1908
1   2009061013011  Hamsun, Knut                                Bjørger  1878
2   2008123010001  Hamsun, Knut                            Livet ivold  1910
3   2008123010002  Hamsun, Knut                                Ny Jord  1893
4   2015021824001  Hamsun, Knut  Sklaven der Liebe und andere Novellen  1902
5   2009050610002  Hamsun, Knut                               Victoria  1898
6   2008112113001  Hamsun, Knut                             Gaadefulde  1877
7   2008082710002  Hamsun, Knut                                    Pan  1894
8   2008123010003  Hamsun, Knut                        Ved Rigets Port  1895
9   2007060512003  Hamsun, Knut                              Aftenrøde  1898
10  2014120208258  Hamsun, Knut                                   Sult  1899
11  2009050810001  Hamsun, Knut                               Sværmere  1904
12  2015051929001  Hamsun, Knut                                   Sult  1890
13  2009010210001  Hamsun, Knut                            Livets Spil  1896
14  2008122910003  Hamsun, Knut                     Under Høststjærnen  1906
15  2008122912001  Hamsun, Knut                          I Æventyrland  1903
16  2008123012003  Hamsun, Knut                         Redaktør Lynge  1893
17  2016011129002  Hamsun, Knut                        Dronning Tamara  1903
18  2009051513003  Hamsun, Knut                                 Siesta  1897
19  2009051813001  Hamsun, Knut                          Det vilde Kor  1904
20  2008090113002  Hamsun, Knut                           Livets Under  1910
21  2009061903032  Hamsun, Knut             Vandrer spiller med Sordin  1909
22  2008122912002  Hamsun, Knut                           Munken Vendt  1902
23  2009060913006  Hamsun, Knut                                   Rosa  1908
24  2009061013012  Hamsun, Knut                                gjensyn  1878
25  2009042313001  Hamsun, Knut                           Lars Oftedal  1889
26  2016111748539  Hamsun, Knut                             Oplevelser  1897
27  2008123012002  Hamsun, Knut                              Mysterier  1892
28  2009042803003  Hamsun, Knut                         Redaktør Lynge  1893
29  2009051813003  Hamsun, Knut                          Stridende Liv  1905
30  2008122910001  Hamsun, Knut                               Kratskog  1903
31  2009061012004  Hamsun, Knut      Fra det moderne Amerikas Aandsliv  1889

### NBs api mot metadata som marc-xml

In [22]:
nb.xmlpretty(nb.metadata_xml(2009021604089))

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<html>
 <body>
  <record xmlns="http://www.loc.gov/MARC21/slim">
   <leader>
    nam  22     uu 4500
   </leader>
   <controlfield tag="001">
    999706098254702202
   </controlfield>
   <controlfield tag="003">
    nb.bibsys.no
   </controlfield>
   <controlfield tag="005">
    20160622164325.0
   </controlfield>
   <controlfield tag="008">
    100121|1997    no#||||j |||||||||||nob||
   </controlfield>
   <datafield ind1=" " ind2=" " tag="040">
    <subfield code="a">
     NO-OsNB
    </subfield>
   </datafield>
   <datafield ind1="1" ind2="0" tag="245">
    <subfield code="a">
     Barbie pÃ¥ safari
    </subfield>
    <subfield code="c">
     oversatt av Nina Svendsrud
    </subfield>
   </datafield>
   <datafield ind1="3" ind2=" " tag="246">
    <subfield code="a">
     Barbie on safari
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="720">
    <subfield code="a">
     Svendsrud, Nina
    </subfield>
   </datafield>
   <datafield ind1=" " ind2="7" tag="655">
    <subfield code="a">
     fiction
    </subfield>
   </datafield>
   <datafield ind1=" " ind2="7" tag="655">
    <subfield code="a">
     fiction
    </subfield>
    <subfield code="2">
     marcgt
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="044">
    <subfield code="c">
     no
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="260">
    <subfield code="a">
     Oslo
    </subfield>
    <subfield code="b">
     Egmont Hjemmets bokforl.
    </subfield>
    <subfield code="c">
     cop. 1997
    </subfield>
    <subfield code="c">
     1997
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="300">
    <subfield code="a">
     [42] s. ill.
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="">
    <subfield code="a">
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="500">
    <subfield code="a">
     Elektronisk reproduksjon [Norge] Nasjonalbiblioteket Digital 2009-04-19
    </subfield>
   </datafield>
   <datafield ind1="0" ind2=" " tag="082">
    <subfield code="a">
     813
    </subfield>
    <subfield code="2">
     4/nor
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="856">
    <subfield code="u">
     http://urn.nb.no/URN:NBN:no-nb_digibok_2009021604089
    </subfield>
    <subfield code="3">
     Fulltekst NB digitalisert
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="856">
    <subfield code="u">
     http://urn.nb.no/URN:NBN:no-nb_digibok_2009021604089
    </subfield>
    <subfield code="3">
     electronic resource
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="852">
    <subfield code="a">
     NO-0183334
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="852">
    <subfield code="a">
     NO-0030100
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="852">
    <subfield code="a">
     NO-0030100
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="852">
    <subfield code="a">
     NO-0030100
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="852">
    <subfield code="a">
     NO-0183300
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="440">
    <subfield code="a">
     Barbie bokklubben
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="020">
    <subfield code="a">
     8259017814
    </subfield>
   </datafield>
   <datafield ind1=" " ind2=" " tag="856">
    <subfield code="u">
     http://urn.nb.no/URN:NBN:no-nb_digibok_2009021604089
    </subfield>
   </datafield>
   <datafield ind1="0" ind2=" " tag="773">
    <subfield code="t">
     Norbok
    </subfield>
    <subfield code="i">
     Del av Bibliografien
    </subfield>
   </datafield>
  </record>
 </body>
</html>

### Informasjon om Dewey-systemet

Her er lenke til [Webdewey](http://deweysearchno.pansoft.de/webdeweysearch/index.html), ellers er det litt informasjon for programmet.

In [5]:
nb.dewey(739)

{'1': ['7', 'Kunst og fritid'],
 '2': ['73', 'Skulptur; keramisk kunst og metallkunst'],
 '3': ['739', 'Metallkunst']}

In [6]:
mann = nb.book_corpus(words = ['tisser', 'pisser'], gender = 'm', period = (1990, 2000), limit = 100 )
mann

,urn,author,title,year
0,2007091001039,"Irving, John",Siderhusreglene,1990
1,2009041600031,"Øgrim, Tron",Hilsen til en generasjon av kvikksølv!,1997
2,2010041303043,"Johansen, Jahn Otto",Lutefisk,1997
3,2007112701005,"Tetzchner, Stephen von",Habilitering,1992
4,2007092000074,"Selmer-Olsen, Ivar",Barn imellom - og de voksne,1990
...,...,...,...,...
95,2010071303036,"Rygh, O.",Norske oldsager,1999
96,2010102108025,"Pettersen, Egil",Bergensordboken,1991
97,2010091508108,"Bjørneboe, Jens",Før hanen galer,1990
98,2008082600002,"Klippenvåg, Odd",Body &amp; soul,1998
99,2007081301042,"Stene, Karstein",nye vitseboka,1991

In [7]:
kvinne = nb.book_corpus(words = ['pisser', 'tisser'],gender = 'f', period = (1990, 2000), limit = 100 )
kvinne

,urn,author,title,year
0,2008082001015,"Røsth, Gro",Jørgen og Johanne for full musikk,1998
1,2011022306244,"Ragde, Anne B.",Voff !,2000
2,2010100603034,"Wassmo, Herbjørg",Ciel cruel,1998
3,2007111901007,"Riis, Annie",Fridafrank,1991
4,2008061904074,"Allende, Isabel",Paula,1996
...,...,...,...,...
95,2010030903041,"Gullestad, Marianne",Hverdagsfilosofer,1996
96,2012071338025,"Birkeland, Tone",Ikke noe snikksnakk,1999
97,2008072900030,"Fjell, Tove Ingebjørg",Blikket vendes,1996
98,2013040305027,"Lindell, Unni",Skjelettet er et stativ som man kan henge fra ...,1992
99,2010062303026,"Høines, Marit Johnsen-",Begynneropplæringen,1998

In [8]:
nb.word_freq(list(mann.urn), ['tisser', 'pisser'])

{'pisser': 88.0, 'tisser': 70.0}

In [9]:
nb.word_freq(list(kvinne.urn), ['tisser', 'pisser'])

{'pisser': 37.0, 'tisser': 126.0}

In [10]:
kvinne_tot = nb.book_corpus(gender = 'f', period = (1990, 2010), limit = 100000 )
len(kvinne_tot)

31054

In [11]:
menn_tot = nb.book_corpus(gender = 'm', period = (1990, 2010), limit = 100000 )
len(menn_tot)

72424

In [12]:
kvinne = nb.book_corpus(words = ['tisser'],gender = 'f', period = (1990, 2010), limit = 100000 )
len(kvinne)

877

### Kjønning

Kjønning er knyttet til forholdstallet mellom sannsynligheten og totalen.

In [19]:
kvinne = nb.book_corpus(words = ['tisser'],gender = 'f', period = (1990, 2010), limit = 100000 )
round(len(kvinne)/len(kvinne_tot),2)

0.03

In [21]:
mann = nb.book_corpus(words = ['tisser'],gender = 'm', period = (1990, 2010), limit = 100000 )
round(len(mann)/len(menn_tot),2)

0.01

In [17]:
mann = nb.book_corpus(words = ['tisser'],gender = 'm', period = (1990, 2010), limit = 100000 )
len(mann)/len(menn_tot)

0.010756102949298576

In [14]:
kvinne = nb.book_corpus(words = ['pisser'],gender = 'f', period = (1990, 2010), limit = 100000 )
len(kvinne)

263

In [15]:
mann = nb.book_corpus(words = ['pisser'],gender = 'm', period = (1990, 2010), limit = 100000 )
len(mann)

1053